.vertical-align {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.inline-block{
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.campaign-logo{
	left:35px;
	top:15px;
	position: fixed;
	z-index:3;
}

.banner{
	text-align: center;
	position: relative;
	z-index: 2;
	margin-bottom: 90px;
	img{
		max-width:700px;
		width:100%;
	}
}

.counter-box{
	padding-top: 40px;
	h3{
		font-family:$font-max-black;
		color:$white;
		font-size: 1.4em;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom:40px;
	}
}

.display-table{
	height:100%;
	display:table;
	width:100%;
}


.main-example {
  margin: 0 auto;
  width: 355px;
}
.main-example .countdown-container {
  height: 130px;
}
.main-example .time {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  display: inline-block;
  text-align: center;
  position: relative;
  height: 95px;
  width: 65px;

  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
}
.main-example .count {
  background: #202020;
  color: #f8f8f8;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  line-height: 2.4em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  top: 0;
  width: 100%;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
}
.main-example .count.top {
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 5px 5px 0 0;
  height: 50%;

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.main-example .count.bottom {
  background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 0 0 5px 5px;
  line-height: 0;
  height: 50%;
  top: 50%;

  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.main-example .count.next {
}
.main-example .label {
  font-size: normal;
  margin-top: 5px;
  display: block;
  position: absolute;
  top: 95px;
  width: 100%;
}
/* Animation start */
.main-example .count.curr.top {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  z-index: 3;
}
.main-example .count.next.bottom {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  z-index: 2;
}
/* Animation end */
.main-example .flip .count.curr.top {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.main-example .flip .count.next.bottom {
  -webkit-transition: all 250ms ease-in-out 250ms;
  -moz-transition: all 250ms ease-in-out 250ms;
  -ms-transition: all 250ms ease-in-out 250ms;
  -o-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms;

  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
@media screen and (max-width: 48em) {
  .main-example {
    width: 100%;
  }
  .main-example .countdown-container {
    height: 100px;
  }
  .main-example .time {
      height: 70px;
      width: 48px;
  }
  .main-example .count {
    font-size: 1.5em;
    line-height: 70px;
  }
  .main-example .label {
    font-size: 0.8em;
    top: 72px;
  }
}

.body-bg{
	 background: url('../images/body-bg.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  position:fixed;
	  left:0;
	  top:0;
	  height: 100%;
	  width:100%;
}
.order-form{
	@extend .clearfix;
	h4{
		color:$white;
		font-family:$font-max-light;
		font-weight: normal;
		margin-bottom:10px;
		font-size: 1.2em;
	}
	input[type="text"]{
		border:1px solid #a7c3d9;
		padding: 12px 15px;
		color: #525354;
		width: 100%;
		background:rgba(255,255,255,0.82);
		font-family:$font-light;
		margin-bottom: 20px;
		&:focus{
			background:#fff;
		}
	}
	input[type="button"], input[type="submit"]{
		font-family:$font-bold;
		color:#2b2b2b;
		border:none;
		width:100%;
		cursor:pointer;
		font-size:1.5em;
		text-transform: uppercase;
		font-weight: normal;
		background:#ffc600;
		padding: 15px 30px;
		&:hover{
			background: #dcb019;
		}
	}
	::-webkit-input-placeholder {
	   color: #525354;
	}

	:-moz-placeholder {
	 color: #525354;
	}

	::-moz-placeholder { 
	  color: #525354;
	}

	:-ms-input-placeholder {  
	   color: #525354;
	}
	h3{
		font-family:$font-max-light;
		color:$white;
		font-weight:normal;
		font-size: 1.5em;
	}
	h2{
		font-family:$font-max-black;
		color:$white;
		font-weight: normal;
		font-size: 1.6em;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}


.selectdiv {
	width: 100%;
	border:1px solid #a7c3d9;
	height: 50px;
	background:rgba(255,255,255,0.82) url("../images/select-bg.png") no-repeat right center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	float: left;
}


.selectboxdiv {
	height: 100%;
	min-height: 36px;
	left: 0;
	right: 0;
	margin-top: 0;
	position: absolute;
	width: 100%;
	z-index: 2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	cursor: pointer;
	top: 0;
	bottom: 0;
}

.selectdiv div {
	z-index: -1;
	border: none;
	height: 100%;
	overflow: hidden;
	padding:12px 15px;
	cursor: pointer;
	color: #525354;
	text-align: left;
}
.dstv-logo{
	position:absolute;
	right:0;
	top:0;
	z-index:3;
}
.content-main{
	// background:red;
	position:relative;
	z-index:2;
	height:100%;
	@extend .clearfix;
 }
 .copyright-bar{
 	background: #e2e2e5 url("../images/multichoice-logo.png") no-repeat left bottom;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 210px;
	left: 0;
	bottom: 0;
	font-size: 16px;
 }
 .left-wing{
 	width:1043/1920*100%;
 	float:left;
 	height:100%;
 	position: relative;
 	.display-table{
 		.vertical-align{
 			vertical-align: bottom;
 		}
 	}
 }
.right-wing{
	float:left;
	width:877/1920*100%;
	height:100%;
	background:rgba(7,62,124,0.7);
	.wrap{
		max-width:533px;
		margin:auto;
	}
}
.copy-text{
	position: absolute;
	bottom: 22px;
	left: 240px;
	font-size: 0.9em;
}
.disclaimer{
	position: absolute;
	bottom: 30px;
	color: white;
	font-size: 13px;
	text-align: center;
}
.footer{
	position: relative;
	z-index: 9;
	background:#e2e2e5;
	width: 100%;
	padding: 20px;
	font-size: 0.8em;
	text-align: center;
	display:none;
}
.success {
	background: url("../images/success.png") no-repeat top center;
	padding-top: 54px;
	text-align: center;
	float: left;
	width: 100%;
	margin: 40px 0;
	color:$white;
	font-family:$font-max-black;
	font-size:1.4em;
}